* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-fiap: #dc143c;
    --transition: .5s;
}


ul, ol {
    list-style: none;
}


a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-light);
    transition: color var(--transition);
}

a:hover {
    color: var(--color-fiap);
}

.container {
    width: 100%; /*Melhor utilizar porcentagem para maior responsividade*/
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0,0,0, .8), rgba(0,0,.3)), url(../images/hotel.jpg);/*.. Para sair do folder css (como um cd ..)*/
    color: var(--color-light);
    background-repeat: no-repeat; /*Para não criar aquela grade cheia de imagens*/
    background-size: cover; /*Para que a imagem ocupe todo o espaço*/
    background-position: 50%; /*Centralizar*/
    display: flex; /*Responsivo*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.header-page {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.header-menu ul {
    display: flex;
    gap: 20px;
}

.hero {
    text-align: center;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero h2{
    font-size: 8vmin; /*Fonte responsiva*/
}

.hero h3 {
    font-size: 6vmin;
}

.btn {
    border: 2px solid var(--color-fiap);
    padding: 8px 30px;
    background-color: var(--color-fiap);
    border-radius: 70px;
    transition: background-color var(--transition);
}

.btn:hover {
    background-color: transparent;
}

.cards{
    width: 90%;
    min-height: 100vh;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}

.cards h2{
    font-size: 3vw;
}

.cards-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap; /*Ao aplicar display: flex, ele tentará fazer com que todos os itens se aloquem ao lado do outro
    ignorando a largura definida (no caso, card-item width: 45%), para que consertar isto, basta utilizar flex-wrap: wrap*/
    justify-content: space-evenly; /*Espaçamento nas extremidades e entre aos itens iguais*/
    row-gap: 60px;
    margin: 50px 0;
}

.card-item {
    width: 37%;
    display: flex;
    flex-direction: column; /*Ficou tudo um do lado do outro 
    pois a direção do flex está em row (linha), coloque em column*/
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 1px 1px 30px #ccc ;
    padding: 40px 20px;
    border-radius: 7px;
    transition: scale var(--transition);
}

.card-item:hover{
    cursor: pointer;
    scale: 1.1;
}

.card-item img{
    width: 80%;
    border-radius: 7px;
}

.card-item p{
    width: 75%;
}

/* BÁSICO DO RESPONSIVO */
@media(width <= 900px){ /*Telas menores ou iguais a 900 pixels*/
    .card-item {
        width: 90%; /*Fará com que apenas um card por vez apareça em telas pequenas*/
    }
}